/* assets/css/style.css */

/* General */
body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Hero Section */
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero h2 {
    font-size: 2rem;
  }
  
  /* Card Hover */
  .card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  /* Footer */
  footer a {
    text-decoration: none;
  }
  